<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Self Service Order</title>
</head>

<body>

    <main id="app">
        <!-- Interpolação -->
        <!-- <h4>{{message}}</h4> -->
        <!-- Diretiva v-if="products" -->
        <section v-if="products" class="items">
            <h4>Selecione os produtos</h4>
            <!-- <div class="product selected">
                    <div class="photo">
                        <img src="img/big-mac.png">
                    </div>
                    <div class="description">
                        <span class="name">{{products[0].name}}</span>
                        <span class="price">{{ products[0].price}}</span>
                        <div class="quantity-area">
                            <button>-</button>
                            <span class="quantity">{{products[0].quantity}}</span>
                            <button>+</button>
                        </div>
                    </div>
                </div> -->
            <!--
                <div class="product">
                    <div class="photo">
                        <img src="img/mc-chicken.png">
                    </div>
                    <div class="description">
                        <span class="name">Mc Chicken</span>
                        <span class="price">$ 4.99</span>
                        <div class="quantity-area">
                            <button>-</button>
                            <span class="quantity">1</span>
                            <button>+</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="photo">
                        <img src="img/double-cb.png">
                    </div>
                    <div class="description">
                        <span class="name">Double Cheese Burger</span>
                        <span class="price">$ 2.99</span>
                        <div class="quantity-area">
                            <button>-</button>
                            <span class="quantity">1</span>
                            <button>+</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="photo">
                        <img src="img/fries.png">
                    </div>
                    <div class="description">
                        <span class="name">Batata frita</span>
                        <span class="price">$ 2.99</span>
                        <div class="quantity-area">
                            <button>-</button>
                            <span class="quantity">1</span>
                            <button>+</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="photo">
                        <img src="img/nuggets.png">
                    </div>
                    <div class="description">
                        <span class="name">Mc Nuggets</span>
                        <span class="price">$ 3.49</span>
                        <div class="quantity-area">
                            <button>-</button>
                            <span class="quantity">1</span>
                            <button>+</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="photo">
                        <img src="img/salad.png">
                    </div>
                    <div class="description">
                        <span class="name">Salad</span>
                        <span class="price">$ 2.79</span>
                        <div class="quantity-area">
                            <button>-</button>
                            <span class="quantity">1</span>
                            <button>+</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="photo">
                        <img src="img/cola.png">
                    </div>
                    <div class="description">
                        <span class="name">Coke</span>
                        <span class="price">$ 1.99</span>
                        <div class="quantity-area">
                            <button>-</button>
                            <span class="quantity">1</span>
                            <button>+</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="photo">
                        <img src="img/lipton.png">
                    </div>
                    <div class="description">
                        <span class="name">Ice Tea</span>
                        <span class="price">$ 1.99</span>
                        <div class="quantity-area">
                            <button>-</button>
                            <span class="quantity">1</span>
                            <button>+</button>
                        </div>
                    </div>
                </div> 
                <div class="product">
                    <div class="photo">
                        <img src="img/water.png">
                    </div>
                    <div class="description">
                        <span class="name">Water</span>
                        <span class="price">$ 1.49</span>
                        <div class="quantity-area">
                            <button>-</button>
                            <span class="quantity">1</span>
                            <button>+</button>
                        </div>
                    </div>
                </div> -->
            <div v-for="product in products" class="product" @click="product.active = !product.active"
                :class="{selected : product.active}">
                <!-- Forma um  :class="product.active ? 'selected' : ''" -->
                <!-- v-on:click="product.active = !product.active" ou @click-->
                <!-- Style binding anotação -->
                <div class="photo">
                    <!-- Em vue precisa passar :src na propriedade do html para ele entender que está
                        passando um valor para o atributo do elemento -->
                    <!-- : é uma abreviação para v-bind: -->
                    <img :src="product.photo">
                </div>
                <div class="description">
                    <span class="name">{{product.name}}</span>
                    <span class="price">{{product.price}}</span>
                    <div v-if="product.active" class="quantity-area">
                        <button @click.stop="product.quantity--" :disabled="product.quantity <= 0">-</button>
                        <!--  -- diminui forma reduzida -->
                        <span class="quantity">{{product.quantity}}</span>
                        <button @click.stop="product.quantity++">+</button><!-- ++ forma reduzida -->
                    </div>
                </div>
            </div>
        </section>

        <section class="summary">
            <strong>Resumo do pedido</strong>
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in products">
                        <!-- Template é para renderizar somente quando tem valor -->
                        <template v-if="product.quantity >= 1">
                            <td>{{product.quantity + 'x ' + product.name}}</td>
                            <!-- Reduz os codigos o uso do v-if 2 vezes usando o template -->
                            <!-- <td v-if="product.active">{{product.quantity + 'x ' + product.name}}</td> -->
                            <!-- <td>1x Big Mac</td> -->
                            <!-- usar metodo to.Fixed(3 or 2) para acertar as casa decimais apos o ponto ou virgula -->
                            <td>{{ (product.price * product.quantity).toFixed(2) }}</td> <!-- <td>5.99</td> -->
                        </template>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <th>0.00</th>
                    </tr>
                </tbody>
            </table>
        </section>

    </main>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="scripts.js"></script>
</body>

</html>